{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}


<div>
    <h1>Agustin Sanchez</h1>
    <h6>Buenos Aires, Argentina, 25 años</h6>   
    <p>Sin ningun conocimiento previo sobre programacion o Python<p>
</div>

<div>  
    <h1>Gabriel Salazar </h1>
    <h6>Argentina, BS.AS</h6>
    <p>Actualmente en 2do año de Ing en informatica, UADE. </p>
</div>

<div>
    <h2 img src="{%static 'AppCoder/images/Jessy.png'%}"></h2>
    <h3>Jessica</h3>   
    <p> Mexicana<br>Médico Veterinario y Zootecnista<br>Egresada de la Universidad de Guadalajara<br>Con más de 7 años de experiencia en el área de cirugia canina.<br> Mi motivación es dar lo mejor de mi para el bienestar de tu mascota. <p>
    </div>
</div>

{% endblock %}