{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}


<div>
    <h1>Agustin Sanchez</h1>   
    <p> Soy Agustin Emiliano Sanchez, soy de nacionalidad Argentina, tengo 25 años y no tengo conocimientos previos sobre python o programación <p>
</div>

<div>
    <h1>Gabriel</h1>   
    <p> Mi info :P <p>
</div>

<div>
    <h2 img src="{%static 'AppCoder/images/Jessy.png'%}"></h2>
    <h3>Jessica</h3>   
    <p> Mexicana<br>Médico Veterinario y Zootecnista<br>Egresada de la Universidad de Guadalajara<br>Con más de 7 años de experiencia en el área de cirugia canina.<br> Mi motivación es dar lo mejor de mi para el bienestar de tu mascota. <p>
    </div>
</div>

{% endblock %}